.h-10 {
    height: 30vh;
    width: 100%;
}

.wd-overlap-profile {
    margin-left: 2%;
    margin-top: -10%;
    float: start;
}

.wd-override-overlap {
    margin-left: 0;
    margin-top: -12.5%;
    margin-right: 8px;
    float: end;
    text-decoration-color: black;
}

.wd-profile-stats {
    list-style-type: none;
    display: flex;
    width: 80%;
    justify-content: space-between;
    color: #a7a2a2;
    padding-top: 12px;
    padding-inline-start: 0;
    margin-bottom: 8px;
}

.wd-margin-bottom-large {
    margin-bottom: 30px;
}

.wd-margin-bottom-medium {
    margin-bottom: 20px;
}

.wd-margin-bottom-small {
    margin-bottom: 10px;
}

.wd-margin-top-small {
    margin-top: 15px;
}

.wd-margin-top-x-small {
    margin-top: 1px;
}

.wd-item-footer {
    width: 80%;
    justify-content: start;
}

.wd-toolbar-header {
    font-size: 20px;
    margin-left: 18px;
}

.wd-profile-name {
    font-size: 20px;
}

.wd-margin-right-large {
    margin-right: 30px;
}

.wd-margin-right-medium {
    margin-right: 20px;
}

.wd-margin-right-small {
    margin-right: 10px;
}

.wd-margin-right-smaller {
    margin-right: 15px;
}

.wd-margin-right-x-small {
    margin-right: 1px;
}

.wd-border {
    border: black 2px;
    border-radius: 200px;
}

.wd-margin-left-smaller {
    margin-left: 15px;
}

.wd-div-padding {
    padding-left: 12px;
    padding-right: 12px;
}

.wd-div-padding-v {
    padding-top: 8px;
    padding-bottom: 8px;
}

.wd-followers-count {
    width: 40%;
    justify-content: start;
}

.wd-banner-image {
    padding: 8px 0;
    border: 1px solid lightgray;
    border-radius: 10px;
}
