.gray-color {
    color: gray;
}

.follow-btn {
    position: absolute;
    right: 10px;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
}

.more-icon {
    width: 1em;
    height: 1em;
    line-height: 1em;
}

.text-style-recommendation {
    position: relative;
    z-index: 2;
}

.text-in-image {
    bottom: 10px;
    left: 10px;
}

.rounded-image {
    border-radius: 12px;
}
